<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link rel="stylesheet" data="code" type="text/css" href="">

  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">

  <script src="{{ asset('assets/app.js') }}" defer></script>

</head>
<body class="hljs h-full w-full text-lg">
  @include("layouts/header")
  <main class="bg-transparent h-9/10 w-full">
    @!section("page")
  </main>
</body>
</html>
