@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  box-sizing: border-box;
}

#snippet textarea {
  border: none;
}

table {
  border-spacing: 0;
}

pre {
  outline: none;
}

.line-number {
  li::before {
    content: attr(value);
  }

  .number {
    cursor: pointer;
  }
}
